{% extends "secureauth/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Question configuration' %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'question_settings' %}">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="{% trans 'Save' %}"/>
    {% trans 'or' %}
    <a href="{% url 'auth_settings' %}">{% trans 'Cancel' %}</a>
</form>
<blockquote>
    {% blocktrans %}
    You can enter your secret question and secret answer, for authentication.
    It's a best way, if you can't use another authentication type.
    {% endblocktrans %}
</blockquote>
{% endblock content %}
