{% extends "secureauth/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Notification settings' %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'notify_settings' %}">
    <table>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="{% trans 'Save' %}"/>
    {% trans 'or' %}
    <a href="{% url 'auth_settings' %}">{% trans 'Cancel' %}</a>
</form>
<blockquote>
    {% blocktrans %}
    If you want receive information about auth or any changes on your profile,
    you can enable notifications above.
    We strongly recommend do it for security reason.
    {% endblocktrans %}
</blockquote>
{% endblock content %}
